<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>manageCreatedCVServlet</servlet-name>
        <servlet-class>Controller_CV.manageCreatedCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitCVServlet</servlet-name>
        <servlet-class>Controller_CV.submitCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCVServlet</servlet-name>
        <servlet-class>Controller_CV.viewCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createJobServlet</servlet-name>
        <servlet-class>Controller_Job.createJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCreatedJobServlet</servlet-name>
        <servlet-class>Controller_Job.manageCreatedJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateJobPostServlet</servlet-name>
        <servlet-class>Controller_Job.updateJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyServlet</servlet-name>
        <servlet-class>Controller_Apply.applyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailJobServlet</servlet-name>
        <servlet-class>Controller_Job.detailJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employerProfileServlet</servlet-name>
        <servlet-class>Controller_Profile.employerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLogoServlet</servlet-name>
        <servlet-class>Controller_Profile.viewLogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateProfileServlet</servlet-name>
        <servlet-class>Controller_Profile.CandidateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidateProfileServlet</servlet-name>
        <servlet-class>Controller_Profile.candidateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateApplyListServlet</servlet-name>
        <servlet-class>Controller_Apply.CandidateApplyListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manageCreatedCVServlet</servlet-name>
        <url-pattern>/manageCreatedCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitCVServlet</servlet-name>
        <url-pattern>/submitCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCVServlet</servlet-name>
        <url-pattern>/viewCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createJobServlet</servlet-name>
        <url-pattern>/createJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCreatedJobServlet</servlet-name>
        <url-pattern>/manageCreatedJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateJobPostServlet</servlet-name>
        <url-pattern>/updateJobPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyServlet</servlet-name>
        <url-pattern>/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailJobServlet</servlet-name>
        <url-pattern>/detailJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employerProfileServlet</servlet-name>
        <url-pattern>/employerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLogoServlet</servlet-name>
        <url-pattern>/viewLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateProfileServlet</servlet-name>
        <url-pattern>/CandidateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidateProfileServlet</servlet-name>
        <url-pattern>/candidateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateApplyListServlet</servlet-name>
        <url-pattern>/CandidateApplyList</url-pattern>
    </servlet-mapping>
</web-app>
